<html>
<head>
</head>
<body>
<div class="content">
	<div class="header" style="min-width: 1030px; text-align: center; font-size: 40px; font-weight: bold;">Homerun Pool 2013</div>
	<div class="month_header" style="min-width: 1030px; text-align: center; font-size: 27px; font-weight: bold;">{{ current_month }}</div>
	<div class="team_modules" style="min-width: 1030px;margin: 0 auto;">
	{% for team in month_teams %}
		<div class="team_module" style="width: 300px; box-shadow: 10px 10px 5px {% if team.hot %}#FF0000{% else %}{% if forloop.counter == 1 %}#FFAA00{% else %}{% if forloop.counter == 2 %}#C0C0C0{% else %}{% if forloop.counter == 3 %}#8C7853{% else %}#888888{% endif %}{% endif %}{% endif %}{% endif %}; border-style: solid; border-width: 1px; margin: 20px; float: left;">
			<div class="team_name" style="font-weight: bold; text-align: center; font-size: 26px;">{{ team.name }}</div>
			{% for player in team.player.all %}
				<div class="player_name" style="width: 240px; float: left; margin: 3px 0 3px 3px; font-size: 24px;">{{ player.name }}</div><div class="player_homerun" style="width: 50px; float: left; text-align: center; margin: 3px 0; font-size: 24px;">{{ player.homerun }}</div>
			{% endfor %}
			<div class="player_name" style="width: 240px; float: left; margin: 3px 0 3px 3px; font-size: 24px; border-top-style: solid; border-width: 1px;">Total</div><div class="player_homerun" style="width: 50px; float: left; text-align: center; margin: 3px 0; font-size: 24px; border-top-style: solid; border-width: 1px;">{{ team.month_total }}</div>
			<div style="clear: both;"></div>
		</div>
	{% endfor %}
	<div style="clear: both;"></div>
	</div>
	<br>
	<br>
	<hr>
	<br>
	<br>
	<div class="month_header" style="min-width: 1030px; text-align: center; font-size: 27px; font-weight: bold;">Season Total</div>
        <div class="team_modules" style="min-width: 1030px;margin: 0 auto;">
        {% for team in teams %}
                <div class="team_module" style="width: 300px; box-shadow: 10px 10px 5px {% if team.hot %}#FF0000{% else %}{% if forloop.counter == 1 %}#FFAA00{% else %}{% if forloop.counter == 2 %}#C0C0C0{% else %}{% if forloop.counter == 3 %}#8C7853{% else %}#888888{% endif %}{% endif %}{% endif %}{% endif %}; border-style: solid; border-width: 1px; margin: 20px; float: left;">
                        <div class="team_name" style="font-weight: bold; text-align: center; font-size: 26px;">{{ team.name }}</div>
                        {% for player in team.player.all %}
                                <div class="player_name" style="width: 240px; float: left; margin: 3px 0 3px 3px; font-size: 24px;">{{ player.name }}</div><div class="player_homerun" style="width: 50px; float: left; text-align: center; margin: 3px 0; font-size: 24px;">{{ player.homerun }}</div>
                        {% endfor %}
                        <div class="player_name" style="width: 240px; float: left; margin: 3px 0 3px 3px; font-size: 24px; border-top-style: solid; border-width: 1px;">Total</div><div class="player_homerun" style="width: 50px; float: left; text-align: center; margin: 3px 0; font-size: 24px; border-top-style: solid; border-width: 1px;">{{ team.homerun_total }}</div>
			<div class="player_name" style="width: 240px; float: left; margin: 3px 0 3px 3px; font-size: 24px; border-top-style: solid; border-width: 1px;{% if team.earnings %} background-color: #BCED91;{% endif %}">Earnings</div><div class="player_homerun" style="width: 50px; float: left; text-align: center; margin: 3px 0; font-size: 24px; border-top-style: solid; border-width: 1px;{% if team.earnings %} background-color: #BCED91;{% endif %}">${{ team.earnings }}</div>
                        <div style="clear: both;"></div>
                </div>
        {% endfor %}
        <div style="clear: both;"></div>
        </div>
	<div class="header" style="min-width: 1030px; text-align: center; font-size: 20px;">Cherepski Apps LLC. | <a href="mailto:cherepski@gmail.com">Contact for contracting opportunities</a></div>
</div>
</body>
</html>
